/*

  @author:              Branko Jaslar - jaslar.branko@gmail.com
  @purpose:             Asioso Test

*/

// 1. general ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$primary: #fff;
$secondary: #93bd32;

// 2. typography ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$font-default: "Raleway", sans-serif;
$font-headline: "Poppins", bold;
$font-cursive: "Pacifico", cursive;
$font-size: 20px;

// 2. colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$text-color: #3f3f3f;
$headline-color: #272727;
